/* General elements */

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: #fafafa;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    height: 49px;
    overflow: hidden;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

section {
    clear: both;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}

/* Hover animations */
/* Focus/Hover animations */

.hoverable:focus::before,
.hoverable:hover::before {
    content: "> ";
}

.hoverable:focus::after,
.hoverable:hover::after {
    content: "< ";
}

/* Game section */

section#game {
    min-height: 515px;
    margin-bottom: 35px;
    position: relative;
    user-select: none;
}

/* Menu sections */

@media (max-aspect-ratio: 2/1) {
    .buttons-area button {
        margin-bottom: 20px;
    }
}

/* Text sections */

section.section-text {
    margin: auto;
    padding: 21px 70px;
    max-width: 910px;
    font-size: 1.4em;
    text-align: center;
}

.link-github {
    color: #cfc;
}

@media (max-width: 350px) {
    section.section-text {
        padding: 14px 7px;
    }
}

@font-face {
    font-family: "Press Start";
    src: url("theme/fonts/PressStart2P.woff2") format("woff2");
}
